@-webkit-keyframes modal-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes modal-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes modal-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  box-sizing: border-box;
}

.modal *,
.modal *:before,
.modal *:after {
  box-sizing: inherit;
}

.modal {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal.modal-disabled-animation,
.modal.modal-disabled-animation .modal-overlay,
.modal.modal-disabled-animation .modal-content {
  -webkit-animation: none!important;
  animation: none!important;
}

.modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: modal-fadein 0.5s;
  animation: modal-fadein 0.5s;
}

.modal-no-overlay {
  pointer-events: none;
}

.modal.modal-closing .modal-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: modal-fadeout 0.5s;
  animation: modal-fadeout 0.5s;
}

.modal-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: modal-fadein 0.5s;
  animation: modal-fadein 0.5s;
  pointer-events: all;
}

.modal.modal-closing .modal-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: modal-fadeout 0.5s;
  animation: modal-fadeout 0.5s;
}

.modal-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}

html.modal-open,
body.modal-open {
  overflow: hidden;
}