@keyframes modal-flyin {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-flyout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

.modal.modal-theme-default {
    padding-bottom: 160px;
    padding-top: 160px;
}

.modal.modal-theme-default.modal-closing .modal-content {
    animation: modal-flyout .5s;
}

.modal.modal-theme-default .modal-content {
    animation: modal-flyin .5s;
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: 'Helvetica',sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 450px;
}

.modal.modal-theme-default .modal-close {
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.modal.modal-theme-default .modal-close:before {
    background: transparent;
    border-radius: 3px;
    color: #bbb;
    content: '\00D7';
    font-size: 26px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 30px;
}

.modal.modal-theme-default .modal-close:hover:before,.modal.modal-theme-default .modal-close:active:before {
    color: #777;
}

.modal.modal-theme-default .modal-message {
    margin-bottom: .5em;
}

.modal.modal-theme-default .modal-input {
    margin-bottom: 1em;
}

.modal.modal-theme-default .modal-input textarea,.modal.modal-theme-default .modal-input input[type="text"],.modal.modal-theme-default .modal-input input[type="password"],.modal.modal-theme-default .modal-input input[type="email"],.modal.modal-theme-default .modal-input input[type="url"] {
    background: #fff;
    border: 0;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 0 .25em;
    min-height: 2.5em;
    padding: .25em .67em;
    width: 100%;
}

.modal.modal-theme-default .modal-input textarea:focus,.modal.modal-theme-default .modal-input input[type="text"]:focus,.modal.modal-theme-default .modal-input input[type="password"]:focus,.modal.modal-theme-default .modal-input input[type="email"]:focus,.modal.modal-theme-default .modal-input input[type="url"]:focus {
    box-shadow: inset 0 0 0 2px #8dbdf1;
    outline: none;
}

.modal.modal-theme-default .modal-buttons {
    *zoom: 1;
}

.modal.modal-theme-default .modal-buttons:after {
    content: '';
    display: table;
    clear: both;
}

.modal.modal-theme-default .modal-button {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: .8em;
    letter-spacing: .1em;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    text-transform: uppercase;
}

.modal.modal-theme-default .modal-button:focus {
    animation: modal-pulse 1.1s infinite;
    outline: none;
}

@media (max-width: 568px) {
    .modal.modal-theme-default .modal-button:focus {
        animation: none;
    }
}

.modal.modal-theme-default .modal-button.modal-button-primary {
    background: #3288e6;
    color: #fff;
}

.modal.modal-theme-default .modal-button.modal-button-secondary {
    background: #e0e0e0;
    color: #777;
}
